/* ------------------------------ Responsiveness ---------------------------------- */

@media (max-width: 1331px) {
  .sub-title-c {
    text-align: center;
    width: 200px;
  }

  .projects-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }

  .project {
    height: 400px;
    width: 400px;
    border-radius: 33px;
  }
  .layer h5 {
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .layer p {
    font-size: 18px;
    line-height: 1.5;
  }
}

@media (max-width: 1000px) {
  html,
  body {
    font-size: 15px;
  }

  #tailwind img {
    width: 50px;
  }

  /* ------------------------ Header(m) ------------------------ */
  nav {
    height: 40px;
  }

  .logo {
    font-size: 25px;
    height: 20px;
    padding: 0 6px 10px 0;
    width: 65px;
  }

  .logo span {
    font-family: monospace;
    font-size: 25px;
    color: #1d1d1f;
  }

  .fa-xmark {
    margin-bottom: 25px;
  }

  nav .fas {
    display: block;
    font-size: 22.5px;
  }

  #sidemenu {
    background-color: #b2c6b6ef;
    position: fixed;
    top: 0;
    width: 175px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    right: -175px;
    transition: 0.5s ease;
  }

  #sidemenu li {
    margin: 15px;
  }

  #sidemenu .fas {
    position: absolute;
    top: 25px;
    left: 25px;
  }

  nav ul li .menu {
    color: #1d1d1f;
    font-size: 15px;
  }

  .fa-bars:hover {
    color: #b75b48;
  }

  .fa-xmark {
    color: #b75b48;
  }

  /* --------------------------- Hero(m) ---------------------------- */
  main .cover {
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px 0px 25px;
    margin: 10px 20px;
  }

  .cover-image img {
    height: 175px;
    margin: -5px 0;
  }

  .cover-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cover-text .para {
    width: 70%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 15px 10px;
    font-size: 15px;
    text-align: justify;
  }

  .cover-text h1 {
    text-align: center;
  }

  .cover-text h1 .span1 {
    font-size: 20px;
    letter-spacing: 10px;
  }

  .cover-text h1 .span2 {
    font-size: 40px;
  }

  #design {
    width: 45%;
    font-size: 22px;
    text-align: center;
    margin: 20px 0 10px;
  }

  #element {
    font-size: 20px;
  }

  .top-cover {
    margin-top: 15px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .social-icons a i {
    font-size: 25px;
  }

  .social-icons {
    margin: 0;
    display: flex;
    align-items: center;
  }

  .si {
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ------------------ My Skills(m) ----------------- */
  .container {
    margin: 15px 20px;
    padding: 25px 10px;
  }

  .sub-title {
    width: 125px;
    font-size: 25px;
  }
  .container .par {
    font-size: 15px;
  }

  .skills-list div {
    width: 125px;
    height: 100px;
    border-radius: 7px;
    margin: 0 5px 10px;
  }

  .skills-list div i {
    font-size: 40px;
  }

  .skills-list div h2 {
    font-size: 15px;
  }

  /* ----------------- Projects(m) ------------------- */
  .projects-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .project {
    height: 300px;
    width: 300px;
    border-radius: 33px;
  }

  .layer h5 {
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .layer p {
    font-size: 15px;
    line-height: 1.5;
  }

  /* ------------------ Contact(m) --------------------- */
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 20px 20px;
    padding: 25px;
  }

  .sub-title-c {
    text-align: center;
    width: 125px;
    font-size: 25px;
  }

  .contact-left {
    margin-right: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .contact-left p {
    margin: 10px 0;
  }

  .cnt1 {
    display: flex;
    flex-direction: column;
  }
  .cnt2 {
    margin-top: 25px;
    display: flex;
  }

  .cv {
    display: flex;
  }

  .contact-right {
    text-align: center;
    margin-top: 40px;
    width: 100%;
  }

  .contact-right h3 {
    font-size: 20px;
    text-align: center;
  }

  form {
    width: 100%;
    text-align: start;
  }

  form input,
  form textarea {
    width: 92.5%;
    border: 0;
    background-color: #e8ecd6;
    margin: 5px 0;
    color: #1d1d1f;
    font-size: 15px;
  }

  /* ----------------- Footer(m) ----------------- */
  .copyright {
    margin-top: 0px;
    height: 45px;
  }
}

@media (max-width: 720px) {
  .sub-title-c {
    text-align: center;
    width: 125px;
  }

  .projects-list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
  }

  .project {
    height: 300px;
    width: 300px;
    border-radius: 33px;
  }
}
